@media (min-width: 768px) {
  .container {
    width: 600px;
  }
  
  /* Get responsive align by screen size */
  .text-right-resp-sm {text-align:right;}
  .text-left-resp-sm {text-align:left;}
  .text-center-resp-sm {text-align:center;}
  .text-just-resp-sm {text-align:justify;}
}
@media (min-width: 992px) {
  .container {
    width: 792px;
  }
  /* Get responsive align by screen size */
  .text-right-resp-md {text-align:right;}
  .text-left-resp-md {text-align:left;}
  .text-center-resp-md {text-align:center;}
  .text-just-resp-md {text-align:justify;}
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
  /* Get responsive align by screen size */
  .text-right-resp-lg {text-align:right;}
  .text-left-resp-lg {text-align:left;}
  .text-center-resp-lg {text-align:center;}
  .text-just-resp-lg {text-align:justify;} 
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.project-title {
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 0;
}
.project-title2 {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 0;
	font-weight: 500;
}
.project-sub {
	margin-top: 0;
	font-size: 14px;
}
.project-sub2 {
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 24px;
	font-size: 13px;
}
.project-text {
	font-size: 13px;
	text-align: justify;
	margin: 0;
}
.project-box-title {
	font-size: 13px;
	font-weight: 500;
	text-transform: capitalize;
	margin: 0;
}
.project-box-text {
	font-size: 13px;
	margin: 0;
}
.project-comment {
	font-size: 13px;
	font-style: italic;
	margin-top: 10px;
}

.cv-section {
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 5px;	
}
.cv-heading {
	font-size: 13px;
	font-weight: 500;
	text-transform: capitalize;
	margin: 0;
}
.cv-text {
	font-size: 13px;
	margin-bottom: 5px;
	text-align: justify;
}
.cv-date {
	font-size: 13px;
	margin-bottom: 5px;
	text-align: left;
}

.main-page {
	padding-top: 100px;
	padding-bottom: 50px;
}

.navbar-default {
	background-color: #fff;
	border: none;
	/*padding-bottom: 20px;*/
}

.navbar-brand {
	font-size: 16px;
	text-transform: uppercase;
}

.navbar-projup { font-size: 19px; }

.back-to-top {
	font-size: 19px;
	display: none;
}

/* For switching mail symbol on hover */
.nav-contact .fa-envelope,
.nav-contact:hover .fa-envelope-o {
    display: none;
}
.nav-contact:hover .fa-envelope {
    display: inline;
    color: #000;
}

/* For switching UP symbol on hover */
.nav-uptop .fa-angle-double-up,
.nav-uptop:hover .fa-angle-up {
    display: none;
}
.nav-uptop:hover .fa-angle-double-up {
    display: inline;
    color: #000;
}

/* For switching DOWN symbol on hover */
.nav-collapse .fa-angle-double-down,
.nav-collapse:hover .fa-angle-down {
    display: none;
}
.nav-collapse:hover .fa-angle-double-down {
    display: inline;
    color: #000;
}

/* Hover effect */
.thumbnail {
/*	max-width: 100%;
	display: block;*/
    position:relative;
    overflow:hidden;
    border: none;
    padding: 0;
    border-radius: 0;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.top-buffer { margin-top:30px; }
.top-buffer-2x { margin-top:60px; }
.bot-buffer { margin-bottom:30px; }
.img-buffer { 
	margin-top:30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-thumb { 
	margin-top:30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.row-divider {
	border-top: 1px solid #777;
}

/* For Sticky footer with fixed navbar - Bootstrap example */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #fff;
}


/* 404 page */
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.btn-default, .btn-default:hover, .btn-default:focus {
	background-color: #fff;
	color: #000;
	text-shadow: none;
	border: solid 1px #777;
	font-weight: 300;
}